
p {
  font-size: 1.25em;
  font-family: "arial";
  margin: auto;
  padding: 0 0 0 20;
  padding-bottom: 25px;
 
}

#one {


}

#twitter {
 float: right;
 width: 500px;
 
}

#photo {
  float: left;
  width:calc(100%-500px);
  height:calc(100%-400px);
  
}

#container {
  display: flex;
  
}

h1 {
  padding-top: 20px;
  font-family: "arial";
  margin: auto;
  padding-bottom: 20px;
}

h2, h3 {
  font-family: "arial";
  margin: auto;
   padding: 0 0 0 20;
   padding-bottom: 25px;
}

table {
  font-size: 1.25em;
   font-family: arial;
}

#bum {
  width: 800px;
  margin: auto;

}


th {
  background-color: #f2f2f2;
}

td {
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  
}

.navbar-default .navbar-brand {
  font-size: 1.25em;
  font-family: "arial";
  color: rgb(89, 223, 182);}
                        
.navbar .nav > li > a, .navbar .nav > li > a:link  {
color:          rgb(89, 223, 182);
}

.navbar .nav {
color:          white;                        
font-family:    arial;
font-size:      1.25em;
}

 