p {
  font-size: 1.5em;
  font-family: "times";
}

h1, h2, h3 {
  text-align: center;
  font-family: "times";
}

<!--

.navbar-default .navbar-brand {
  font-size: 2em;
  font-family: "times";
  color: rgb(66, 78, 244);}
                        
.navbar .nav > li > a, .navbar .nav > li > a:link {
color:          rgb(66, 78, 244);
}

.navbar .nav {
color:          red;                        
font-family:    times;
font-size:      1.5em;
}

--> 