
p {
  font-size: 1.25em;
  font-family: "arial";
  margin: auto;
  padding: 0 0 0 20;
  padding-bottom: 15px;
 

}

#twitter {
 float: right;
 width: 600px;
 
}

ul {
  list-style: none;
  
}

#psyecr {
  width:500px;
}

#psyecr_tweets {
  position: absolute;
  right:100px;
  top:100px; 
  width: 500px; 
  height: 600px;
}

#contact_box {
  background-color: #f2f2f2;
  max-width: 500px;
  display: flex;
}

#deets {
  width: 70%;
}
#hwb {
  border: #f2f2f2;
  border-width: 3px;
  width:250px;
  height:198px;
  border-style: solid;
  width:calc(100%-250px);
  height:calc(100%-198px);
}

#indexpic {
  float:right;
  margin: 10px 10px 10px;
}

#photo {
  float: left;
  width:calc(100%-600px);
  height:calc(100%-400px);
  
}


#empower {
  width: 50%;
  height 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#container {
  display: flex;
  
}

h1 {
  padding-top: 15px;
  font-family: "arial";
  margin: auto;
  padding-bottom: 10px;
}

h2, h3 {
  font-family: "arial";
  margin: auto;
   padding: 0 0 0 20;
   padding-bottom: 15px;
}

table {
  font-size: 1.25em;
   font-family: arial;
}

#bum {
  width: 800px;
  margin: auto;

}


th {
  background-color: #f2f2f2;
}

td {
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  
}

.navbar-default .navbar-brand {
  font-size: 1.25em;
  font-family: "arial";
  color: rgb(89, 223, 182);}
                        
.navbar .nav > li > a, .navbar .nav > li > a:link  {
color:          rgb(89, 223, 182);
}

.navbar .nav {
color:          white;                        
font-family:    arial;
font-size:      1.25em;
}

 